
<ion-header>

  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrinho</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="corpo-page">

  <ion-list class="item">
    <ion-item *ngFor="let item of itens" class="item">
      <ion-thumbnail item-start>
        <img *ngIf="item.item.name !== 'FRETE'" [src]="item.item.imageUrl || 'assets/imgs/prod.jpg'" class="circle-pic">
      </ion-thumbnail>
      <h2>{{ item.item.name }}</h2>
      <p>{{ item.item.price |  currency:"BRL":true:"1.2" }}</p>
      <ion-icon *ngIf="item.item.name !== 'FRETE'" class="nolinebreak" name="remove-circle" color="primary" (click)="decreaseItem(item.item)"></ion-icon>
      <p *ngIf="item.item.name !== 'FRETE'" class="nolinebreak">{{ item.quantity }}</p>
      <ion-icon *ngIf="item.item.name !== 'FRETE'" name="add-circle" color="primary" (click)="increaseItem(item.item)"></ion-icon>
      <ion-icon name="trash" color="primary" item-end (click)="removeItem(item.item)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total</h1>
      <h1 item-end>{{ total() |  currency:"BRL":true:"1.2" }}</h1>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
        <h1>Seu carrinho está vazio</h1>
    </ion-item>
  </ion-list>
  <button ion-button block color="lightprimary" (click)="goOn()">Continuar comprando</button>
  <button ion-button block color="primary" *ngIf="total() > 0" (click)="checkout()">Finalizar pedido</button>
</ion-content>
