page-categorias {


    .item-categoria {
        background-color: transparent;        
    }

    ion-fab {
        margin-bottom: 50px;
    }

    .circle-pic {
        -webkit-border-radius: 50%;
        border-radius: 50%; 
    }

    .descricao {
        color: #fff;
    }

}
