page-home {

    .corpo-page-home {
        background-color: #F59A9F;
        
    }

    .form-item {
        background-color: transparent;   
    }

    img {
        width: 300px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

}
