
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pagamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="nextPage(); $event.preventDefault()">

    <ion-list radio-group formControlName="paymentType">
      <ion-list-header>
        Tipo de pagamento
      </ion-list-header>
      <ion-item>
        <ion-label>Pagamento com dinheiro</ion-label>
        <ion-radio checked="true" value="DINHEIRO"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="formGroup.value['paymentType'] == 'CARTAO'">
      <ion-label stacked>Parcelas no boleto</ion-label>
      <ion-select formControlName="quota">
        <ion-option *ngFor="let q of parcelas; first as f" [value]="q" [selected]="f">{{q}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Próximo</button>
  </form>

</ion-content>
